{% extends 'base.html' %} 

{% block head%}
     <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
{% endblock %} 

{% block content%}

<div class="row">
   <div class="col-2">
       <nav class="nav flex-column" style="background-color: #d6e0ccc8;">           
         <ul class="nav flex-column">
             <h3>Meta analysis</h3>
             <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{{url_for('open_project',folder_name=folder_name )}}"><button type="button" class="btn btn-link">Project Analysis</button></a>
             </li>

         </ul> 
       </nav>
     </div>
     <div class="col-9">
       
         
         <div class="card text-bg-success text-start">
           <div class="card-header">
               <h3> A brief summary about references in the project : <strong>{{folder_name}}</strong></h3>
           </div>
     
           <br>
        <div  class="card-body">
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><h4>Total number of references in project : {{data1[0]}} </h4></li>
             <li class="list-group-item"><h5> number of reference in standard format: {{data1[1]}}</h5></li>
             <li class="list-group-item"><h5> number of reference not in standard format: {{data1[2]}}</h5></li>
             
             
           </ul>
         </div>
       </div>
       <br><br>
       <table id="data" class="table table-striped">
         <thead>
           <tr>
             <th scope="row">#</th> 
             <th>record_id</th>
             <th>Citations</th>
             <th>References</th>
             <th>Standard_format</th>
             <th>Non-standard ref</th>
           </tr>
         </thead>
         <tbody>
           {% for i in data2 %}
             <tr>
               <th scope="row">{{loop.index}}</th>
               <th scope="row"><a class="btn btn-secondary" href="{{url_for('individual_record',folder_name=folder_name, record_number=i[5])}}" role="button"> {{i[0]}}</a></th>
               <td>{{i[1] | int}}</td>
               <td>{{i[2]}}</td>
               <td>{{i[3]}}</td>
               <td>{{i[4]}}</td>
             </tr>
           {% endfor %}
         </tbody>
       </table>
       <br><br>
   </div>     

  </div>  
{% endblock %}   
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#data').DataTable({
          columns: [
            {searchable: false},
            null,
            {searchable: false},
            {searchable: false},
            {searchable: false},
            {searchable: false}],
        });
      });
    </script>
  
  {% endblock %}   
  